Proyecto/WebContent/WEB-INF/services/HolaMundo/META-INF/HolaMundo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HolaMundo" targetNamespace="http://www.example.org/HolaMundo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/HolaMundo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/HolaMundo/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part name="parameters" element="tns:NewOperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part name="parameters" element="tns:NewOperation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HolaMundo">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest">
    </wsdl:input>
      <wsdl:output message="tns:NewOperationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HolaMundoSOAP" type="tns:HolaMundo">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/HolaMundo/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HolaMundo">
    <wsdl:port name="HolaMundoSOAP" binding="tns:HolaMundoSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
