Proyecto/WebContent/WEB-INF/services/HolaMundo/META-INF/ServicioPractica1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ServicioPractica1" targetNamespace="http://www.example.org/ServicioPractica1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/ServicioPractica1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ServicioPractica1/">
      <xsd:element name="validarNIF">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="NIF" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validarNIFResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="validado" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="validarNIFRequest">
    <wsdl:part name="parameters" element="tns:validarNIF">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validarNIFResponse">
    <wsdl:part name="parameters" element="tns:validarNIFResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioPractica1">
    <wsdl:operation name="validarNIF">
      <wsdl:input message="tns:validarNIFRequest">
    </wsdl:input>
      <wsdl:output message="tns:validarNIFResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioPractica1SOAP" type="tns:ServicioPractica1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validarNIF">
      <soap:operation soapAction="http://www.example.org/ServicioPractica1/validarNIF"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioPractica1">
    <wsdl:port name="ServicioPractica1SOAP" binding="tns:ServicioPractica1SOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
