ClientePrac2/ClientePrac2/Web References/localhost/GestionAlmacen.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/GestionAlmacen/" name="GestionAlmacen" targetNamespace="http://www.example.org/GestionAlmacen/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/GestionAlmacen/">
      <xsd:element name="ComprobarStock">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="numeroUnidades" type="xsd:int" />
            <xsd:element name="referenciaProducto" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ComprobarStockResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultado" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarStock">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="numeroUnidades" type="xsd:int" />
            <xsd:element name="referenciaProducto" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarStockResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultado" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ComprobarStockRequest">
    <wsdl:part name="parameters" element="tns:ComprobarStock" />
  </wsdl:message>
  <wsdl:message name="ComprobarStockResponse">
    <wsdl:part name="parameters" element="tns:ComprobarStockResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarStockRequest">
    <wsdl:part name="parameters" element="tns:ActualizarStock" />
  </wsdl:message>
  <wsdl:message name="ActualizarStockResponse">
    <wsdl:part name="parameters" element="tns:ActualizarStockResponse" />
  </wsdl:message>
  <wsdl:portType name="GestionAlmacen">
    <wsdl:operation name="ComprobarStock">
      <wsdl:input message="tns:ComprobarStockRequest" />
      <wsdl:output message="tns:ComprobarStockResponse" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarStock">
      <wsdl:input message="tns:ActualizarStockRequest" />
      <wsdl:output message="tns:ActualizarStockResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestionAlmacenSOAP" type="tns:GestionAlmacen">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ComprobarStock">
      <soap:operation soapAction="http://www.example.org/GestionAlmacen/ComprobarStock" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarStock">
      <soap:operation soapAction="http://www.example.org/GestionAlmacen/ActualizarStock" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionAlmacen">
    <wsdl:port name="GestionAlmacenSOAP" binding="tns:GestionAlmacenSOAP">
      <soap:address location="http://localhost:9080/ServiciosPracticaNueva/services/GestionAlmacen" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>